body {
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    background-color: #000;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: #fff;
}

.game {
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas.viewport {
    box-shadow: 0 0 14px 1px rgba(0, 0, 0, 0.39);
}

.panel {
    background-color: #fff;
    padding: 20px;
}

.panel form[name='setup'] {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

form[name='setup'] label {
    margin-bottom: 10px;
}

form[name='setup'] input[name='size'] {
    width: 50px;
}

form[name='setup'] input[name='win'] {
    width: 50px;
}

form[name='setup'] select[name='first'] {

}
